<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attacker Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="container mt-3">
    <div class="jumbotron text-center">
        <h1 class="display-4">Data Leak via Global Variables</h1>
        <p class="lead">This page demonstrates data leakage through global variables.</p>
    </div>

    <script>
        function reloadPage(){
            location.reload();
        }
    </script>

    <script src="static/cookie-script.js"></script>

    <div id="result" class="mt-3">
        <h2 class="text-center">Leaked Data</h2>
        <div class="d-flex alert alert-success text-center align-items-center justify-content-around" role="alert">
            Your secret cookie: <b id="cookieValue"></b>
            <script>
                var div = document.getElementById("cookieValue");
                div.innerHTML = window.cookieValue;
            </script>
            <button class="btn btn-success" onclick="reloadPage()">Reload This Page</button>
        </div>
    </div>


    <div class="mt-3">
        <h2 class="text-center">Explanation</h2>
        <p>This page illustrates a scenario where sensitive data is leaked through the use of global variables. The page you visited earlier generated a random cookie and stored it in a global variable accessible by JavaScript. Here, an attacker's page attempts to exploit this by accessing the global variable and displaying the leaked data. You can try generating a new cookie on the previous page. Refresh this page and this page will display the updated leaked cookie.</p>
        <iframe src="static/stuff.js" width="100%" height="250"></iframe>
        <p>In the real world, the attacker page would of course be a different website on a different domain. User might get tricked to enter the attacker page and the attack then would occur. To prevent this attack, there're a few things to keep in mind:</p>
        <ul>
            <li>You should never store sensitive data in global JavaScript variables, function parameters, and more.</li>
            <li>You should implement Content Security Policy and Same Origin Policy to reduce the risk of an XSSI attack.</li>
        </ul>
        <p>And, that's it! That's how XSSI works. I hope you enjoyed this short explanation.</p>
    </div>

    <div class="mt-3">
        <h5 class="text-center">Acknowledgements</h5>
        <ul>
            <li><a href="https://owasp.org/www-project-web-security-testing-guide/v41/4-Web_Application_Security_Testing/11-Client_Side_Testing/13-Testing_for_Cross_Site_Script_Inclusion" target="_blank">OWASP WSTG Guide V4.1 - Testing for Cross Site Script Inclusion</a></li>
            <li><a href="https://book.hacktricks.xyz/pentesting-web/xssi-cross-site-script-inclusion" target="_blank">Hacktricks - XSSI (Cross-Site Script Inclusion)</a></li>
            <li><a href="https://www.hacksplaining.com/prevention/xssi" target="_blank">Hacksplaining - Cross-Site Script Inclusion</a></li>
            <li><a href="https://owasp.org/www-pdf-archive/20160607-xssi-the_tale_of_a_fameless_but_widepsread_vulnerability-Veit_Hailperin.pdf">OWASP - XSSI - The Tale of a Fameless but Widespread Vulnerability</a></li>
        </ul>
    </div>

    <div class="d-flex justify-content-around pb-3">
        <a href="/" class="btn btn-primary btn-lg">Back To Main Page</a>
    </div>

    <footer class="mt-3 text-center">
        <p>Made by wijen</p>
    </footer>

</body>
</html>